* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-font-color: #403F3D;
  --light-font-color: #E1D4C9;
  --accent-font-color: #B0907A;
  --backdrop-color: rgba(64, 63, 61, 0.80);
  --background-color: #E1D4C9;
  --border-color: #665F55;
  --border-light: #C1B6AD;
}

body {
  background: var(--background-color);
  font-family: "inter", sans-serif;
  color: var(--main-font-color);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
  color: var(--light-font-color);
}

.sub-heading, .sub-heading-menu {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}

.h3-heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  font-style: normal;
}

.btn-primary, a {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-primary:hover, .btn-apps:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  color: var(--main-font-color);
}
a:hover {
  color: var(--accent-font-color);
  cursor: pointer;
  text-decoration: underline;
}

.accent {
  color: var(--accent-font-color);
  font-style: italic;
}

.btn-primary, .btn-apps {
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-container {
  width: 1440px;
  margin: auto;
}

header .logo-container {
  margin: 1.2em 0 0 2.42em;
}
header .logo-container img {
  width: 100px;
  height: 60px;
}
header .header-menu {
  position: absolute;
  left: 35%;
  top: 2.2em;
}
header .header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40px;
}
header .menu-header {
  position: relative;
  margin-left: 48em;
  top: -1.3em;
}
header .menu-header img {
  padding-left: 8px;
}
header .menu-header.menu a:hover {
  cursor: default;
  color: var(--main-font-color);
  text-decoration: none;
}

main .enjoy {
  background: url(../img/pictures/img-hero.svg);
  background-size: 100%;
  margin: 0 2.2em 0 2.5em;
  border-radius: 40px;
  padding: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .enjoy h1 {
  position: relative;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  width: 530px;
}
main .enjoy .text {
  color: var(--light-font-color);
  width: 530px;
  margin-top: 40px;
}
main .enjoy .btn-primary {
  padding: 20px 78px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--background-color);
  border: none;
  margin-top: 40px;
}
main .enjoy .btn-primary:hover::after {
  content: url(../img/icons/coffee-cup.svg);
}

section .favorite-coffee {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  max-width: 1360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  padding: 0px 40px;
}
section .favorite-coffee .sub-heading {
  position: relative;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  text-align: center;
  left: 0.7em;
  top: -0.2em;
}
section .favorite-coffee .coffee-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1360px;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  left: 2.3em;
}
section .favorite-coffee .coffee-scroll .arrow-left, section .favorite-coffee .coffee-scroll .arrow-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-color);
  background-image: url(../img/icons/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: -0.8em;
}
section .favorite-coffee .coffee-scroll .arrow-left:hover, section .favorite-coffee .coffee-scroll .arrow-right:hover {
  cursor: pointer;
  background-color: var(--border-color);
  background-image: url(../img/icons/arrow-right-white.svg);
}
section .favorite-coffee .coffee-scroll .arrow-left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
section .favorite-coffee .coffee-scroll .drinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1152px;
  min-width: 480px;
  max-width: 1162px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section .favorite-coffee .coffee-scroll .drinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3em;
}
section .favorite-coffee .coffee-scroll .drinks ul .drink-item:nth-child(n+2) {
  display: none;
}
section .favorite-coffee .coffee-scroll .drinks ul .drink-item img {
  width: 480px;
  height: 480px;
}
section .favorite-coffee .coffee-scroll .drinks .coffee-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 480px;
  text-align: center;
  position: relative;
  top: 0.5em;
}
section .favorite-coffee .coffee-scroll .drinks .coffee-text .h3-heading, section .favorite-coffee .coffee-scroll .drinks .coffee-text .text {
  margin-bottom: 16px;
}
section .favorite-coffee .coffee-scroll .drinks .pag-btn {
  position: relative;
  top: 1.9em;
  left: 0.1em;
}
section .favorite-coffee .coffee-scroll .drinks .pag-btn ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
}
section .favorite-coffee .coffee-scroll .drinks .pag-btn ul .pag {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: var(--border-light);
}
section .favorite-coffee .coffee-scroll .drinks .pag-btn ul .pag.active {
  background: var(--border-color);
}
section .favorite-coffee .coffee-scroll .drinks .pag-btn ul .pag:hover {
  cursor: pointer;
  background: var(--border-color);
}
section .favorite-coffee .sub-heading-menu {
  position: relative;
  max-width: 880px;
  text-align: center;
  left: 0.6em;
}
section .favorite-coffee .btn-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  position: relative;
  left: 2em;
}
section .favorite-coffee .btn-menu form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 16px 8px 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--border-light);
  background: var(--background-color);
}
section .favorite-coffee .btn-menu form button span {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  font-family: "Inter", sans-serif;
}
section .favorite-coffee .btn-menu form button .coffee-span:before {
  content: url(../img/icons/cofee-cup-small.svg);
  background-color: var(--border-light);
  border-radius: 100px;
  width: 16px;
  height: 24px;
  padding: 4px 7px;
}
section .favorite-coffee .btn-menu form button .tea-span:before {
  content: url(../img/icons/kettle.svg);
  background-color: var(--border-light);
  border-radius: 100px;
  width: 16px;
  height: 24px;
  padding: 3px 7px;
  position: relative;
  left: -0.5em;
}
section .favorite-coffee .btn-menu form button .dessert-span:before {
  content: url(../img/icons/cake.svg);
  background-color: var(--border-light);
  border-radius: 100px;
  width: 16px;
  height: 24px;
  padding: 3px 3px;
}
section .favorite-coffee .btn-menu form button:hover {
  background-color: var(--border-color);
  color: var(--light-font-color);
  cursor: pointer;
}
section .favorite-coffee .btn-menu form button.active {
  background-color: var(--border-color);
  color: var(--light-font-color);
  cursor: not-allowed;
}
section .favorite-coffee .btn-menu form button.active:before {
  background-color: var(--border-light);
}
section .favorite-coffee .menu-container {
  max-width: 1360px;
  left: 38px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2em;
  overflow: hidden;
}
section .favorite-coffee .menu-container ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}
section .favorite-coffee .menu-container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 506px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 310px;
  border: 1px solid var(--border-light);
  border-radius: 40px;
}
section .favorite-coffee .menu-container ul li img {
  max-width: 310px;
  border-radius: 40px;
}
section .favorite-coffee .menu-container ul li .item-text {
  -ms-grid-row-align: stretch;
      align-self: stretch;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  padding: 20px;
  height: 38%;
}
section .favorite-coffee .menu-container ul li .item-text .h3-heading, section .favorite-coffee .menu-container ul li .item-text .text {
  margin-bottom: 12px;
}
section .favorite-coffee .menu-container ul li .item-text .h3-heading.price, section .favorite-coffee .menu-container ul li .item-text .text.price {
  margin-bottom: 0;
}
section .favorite-coffee .menu-container ul li .item-text .text {
  max-width: 270px;
}
section .favorite-coffee .menu-container ul li:hover img {
  -webkit-transform: scale(90%);
          transform: scale(90%);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
section .favorite-coffee.menu {
  position: relative;
  margin: 0;
  top: -0.5em;
}
section .about {
  margin: 100px 2.2em 0 2.2em;
}
section .about .sub-heading {
  position: relative;
  top: 0.5em;
}
section .img-grid {
  position: relative;
  top: 4.3em;
  display: -ms-grid;
  display: grid;
  gap: 40px;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr;
}
section .img-grid .col-1, section .img-grid .col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
section .img-grid .col-1 li, section .img-grid .col-2 li {
  border-radius: 20px;
}
section .img-grid .col-1 li:hover, section .img-grid .col-2 li:hover {
  -webkit-transform: scale(90%);
          transform: scale(90%);
}
section .img-grid .col-1 .item1 {
  background: url(../img/pictures/about-1.svg);
  height: 590px;
  background-position: center;
}
section .img-grid .col-1 .item2 {
  background: url(../img/pictures/about-2.svg);
  height: 430px;
  background-position: center;
}
section .img-grid .col-2 .item1 {
  background: url(../img/pictures/about-3.svg);
  height: 430px;
  background-position: center;
}
section .img-grid .col-2 .item2 {
  background: url(../img/pictures/about-4.svg);
  height: 590px;
  background-position: center;
}
section .mobile-app {
  margin: 0 2.2em 0 2.2em;
  position: relative;
  top: 14.5em;
}
section .mobile-app .mobile-text {
  position: relative;
  top: 5em;
  width: 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}
section .mobile-app .mobile-text .btn-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}
section .mobile-app .mobile-text .btn-app .btn-apps {
  padding: 12px 20px;
}
section .mobile-app .mobile-text .btn-app .btn-apps .btn-1, section .mobile-app .mobile-text .btn-app .btn-apps .btn-2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section .mobile-app .mobile-text .btn-app .btn-apps .btn-1 .text, section .mobile-app .mobile-text .btn-app .btn-apps .btn-2 .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
  font-weight: 600;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: left;
}
section .mobile-app .mobile-text .btn-app .btn-apps .btn-1 .text .span-btn, section .mobile-app .mobile-text .btn-app .btn-apps .btn-2 .text .span-btn {
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
section .mobile-app .mobile-text .btn-app .btn-apps .btn-1:before {
  content: url(../img/icons/AppleStore.svg);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
section .mobile-app .mobile-text .btn-app .btn-apps .btn-2:before {
  content: url(../img/icons/GooglePlay.svg);
}
section .mobile-app .mobile-text .btn-app .btn-apps:hover {
  background: var(--border-color);
  border: none;
}
section .mobile-app .mobile-text .btn-app .btn-apps:hover .btn-1, section .mobile-app .mobile-text .btn-app .btn-apps:hover .btn-2 {
  color: var(--light-font-color);
}
section .mobile-app .mobile-text .btn-app .btn-apps:hover .btn-1::before {
  content: url(../img/icons/AppleStore-white.svg);
}
section .mobile-app .mobile-text .btn-app .btn-apps:hover .btn-2::before {
  content: url(../img/icons/GooglePlay-white.svg);
}
section .mobile-app .mobile-img {
  position: relative;
  left: 53%;
  top: -25.5em;
}
section .choosen {
  position: absolute;
  left: 320px;
  top: 198px;
}
section .choosen .choosen-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  padding: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 40px;
  background-color: var(--background-color);
  gap: 20px;
}
section .choosen .choosen-item .item-img img {
  border-radius: 40px;
  height: 310px;
}
section .choosen .choosen-item .choosen-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

footer {
  position: relative;
  top: -4.9em;
}
footer .footer-grid {
  margin: 0 2.2em 0 2.2em;
  max-width: 1360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  border-radius: 40px;
  background-color: var(--border-color);
  height: 450px;
}
footer .footer-grid .footer-icons {
  position: relative;
  top: -1em;
}
footer .footer-grid .footer-icons .sub-heading {
  color: var(--light-font-color);
  width: 530px;
  margin: 0;
}
footer .footer-grid .footer-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  position: relative;
  top: 2em;
}
footer .footer-grid .footer-icons ul li {
  width: 60px;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-light);
}
footer .footer-grid .footer-icons ul li .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
}
footer .footer-grid .footer-icons ul li:hover {
  background: var(--accent-font-color);
  border: none;
  cursor: pointer;
}
footer .footer-grid .footer-icons ul li:hover .social {
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 1em;
}
footer .footer-grid .footer-icons ul li:hover .social img {
  display: none;
}
footer .footer-grid .footer-icons ul li:hover .social:first-child {
  background: url(../img/icons/twitter-black.svg);
}
footer .footer-grid .footer-icons ul li:hover:nth-child(2) .social {
  background: url(../img/icons/instagram-black.svg);
}
footer .footer-grid .footer-icons ul li:hover:nth-child(3) .social {
  background: url(../img/icons/facebook-black.svg);
}
footer .footer-grid .footer-contacts {
  position: relative;
  max-width: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  color: var(--background-color);
  left: 0.2em;
}
footer .footer-grid .footer-contacts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
}
footer .footer-grid .footer-contacts ul .contact-1, footer .footer-grid .footer-contacts ul .contact-2, footer .footer-grid .footer-contacts ul .contact-3 {
  color: var(--background-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
footer .footer-grid .footer-contacts ul .contact-1:hover, footer .footer-grid .footer-contacts ul .contact-2:hover, footer .footer-grid .footer-contacts ul .contact-3:hover {
  cursor: pointer;
  text-decoration: underline;
}
footer .footer-grid .footer-contacts ul .contact-1:before {
  content: url(../img/icons/pin-alt.svg);
  margin-right: 4px;
}
footer .footer-grid .footer-contacts ul .contact-2:before {
  content: url(../img/icons/phone.svg);
  margin-right: 4px;
}
footer .footer-grid .footer-contacts ul .contact-3:before {
  content: url(../img/icons/clock.svg);
  margin-right: 4px;
}
footer .footer-grid-menu {
  top: 2em;
}

.footer-menu {
  top: 4.6em;
}

@media screen and (max-width: 768px) {
  header .burger-menu {
    display: block;
    position: relative;
    width: 44px;
    height: 44px;
    left: 47.5%;
    top: -3.4em;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid var(--main-font-color);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  header .burger-menu::before, header .burger-menu::after {
    content: "";
    background-color: var(--main-font-color);
    position: absolute;
    width: 50%;
    height: 2px;
    left: 25%;
  }
  header .burger-menu::before {
    top: 35%;
  }
  header .burger-menu::after {
    bottom: 35%;
  }
  header .burger-menu.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 47%;
  }
  header .burger-menu.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 47%;
  }
  header .header-menu {
    display: none;
    z-index: 2;
    background-color: var(--background-color);
    width: 688px;
    position: absolute;
    top: 7em;
    left: 5.2%;
    height: 35em;
  }
  header .header-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 3em;
  }
  header .header-menu ul a {
    font-size: 32px;
    line-height: 125%;
  }
  header .header-menu.active {
    display: block;
  }
  header .header-menu.active .menu-header {
    position: relative;
    left: 40%;
    top: 4.8em;
    background-color: var(--background-color);
    z-index: 3;
    margin: 0;
  }
  header .header-menu.active .menu-header a {
    font-size: 32px;
    line-height: 125%;
  }
  header .header-menu.active .menu-header a img {
    width: 1.8em;
    height: 1.8em;
    padding-left: 16px;
    position: relative;
    top: 0.5em;
  }
  main .enjoy {
    padding: 100px 60px;
    max-width: 688px;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    top: -1.6em;
    background-position: center;
  }
  main .enjoy.active {
    top: 35em;
  }
  main .enjoy .btn-primary::after {
    content: url(../img/icons/coffee-cup.svg);
  }
  main .enjoy .btn-primary:hover {
    background: var(--background-color);
  }
  .sub-heading {
    max-width: 688px;
    text-align: center;
  }
  section .favorite-coffee {
    margin-top: 80px;
  }
  section .favorite-coffee .sub-heading {
    left: 0;
  }
  section .favorite-coffee .coffee-scroll {
    left: -18.2em;
  }
  section .favorite-coffee .coffee-scroll .arrow-left:hover, section .favorite-coffee .coffee-scroll .arrow-right:hover {
    background-color: transparent;
  }
  section .favorite-coffee .coffee-scroll .drinks {
    width: 480px;
  }
  section .favorite-coffee .sub-heading-menu {
    left: 0;
    max-width: 700px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
  section .favorite-coffee.menu {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section .favorite-coffee.menu .btn-menu {
    left: 10em;
  }
  section .favorite-coffee.menu .menu-container {
    max-width: 688px;
  }
  section .favorite-coffee.menu .menu-container ul {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    overflow: none;
  }
  section .favorite-coffee.menu .menu-container ul li:nth-child(n+5) {
    display: none;
  }
  section .favorite-coffee.menu .menu-container ul li:hover img {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
  section .favorite-coffee.menu.active {
    top: 35em;
  }
  section .about .sub-heading {
    text-align: left;
  }
  section .about .img-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  section .about .img-grid .col-1 .item1 {
    background-repeat: no-repeat;
    position: relative;
    left: 0;
    width: 50%;
  }
  section .about .img-grid .col-1 li:hover {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
  section .about .img-grid .col-1 .item2 {
    display: none;
  }
  section .about .img-grid .col-2 .item2 {
    background-repeat: no-repeat;
    position: relative;
    left: 0;
    width: 50%;
  }
  section .about .img-grid .col-2 .item1 {
    display: none;
  }
  section .about .img-grid .col-2 li:hover {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
  section .mobile-app {
    max-width: 100%;
    top: 5.8em;
  }
  section .mobile-app .sub-heading {
    text-align: left;
  }
  section .mobile-app .btn-app .btn-apps:hover {
    background: var(--light-font-color);
  }
  section .mobile-app .mobile-img {
    left: 1.5em;
    top: 11em;
  }
  section .refresh {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
    height: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 100px;
    border: 1px solid var(--border-color);
    position: relative;
    left: 26%;
    top: 8%;
  }
  footer {
    top: 22.8em;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    margin: 0 40px;
  }
  footer .footer-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 100px 60px;
    margin: 0;
    height: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 688px;
  }
  footer .footer-grid .footer-icons {
    top: 0;
  }
  footer .footer-grid .footer-icons .sub-heading {
    text-align: left;
  }
  footer .footer-grid .footer-contacts {
    top: 2.2em;
  }
}
@media screen and (max-width: 380px) {
  header .logo-container {
    margin: 1.2em 0 0 1em;
  }
  header .burger-menu {
    left: 22%;
  }
  header .header-menu {
    width: 348px;
  }
  main .enjoy {
    padding: 60px 16px;
    margin: 0 1em;
    max-width: 348px;
    background-position: center;
    top: -1.8em;
  }
  main .enjoy h1 {
    font-size: 42px;
    line-height: 115%;
    max-width: 316px;
  }
  main .enjoy .text {
    max-width: 316px;
  }
  section .sub-heading {
    max-width: 348px;
    font-size: 32px;
  }
  section .text {
    max-width: 316px;
  }
  section .favorite-coffee {
    padding: 0 1em;
    margin-top: 75px;
  }
  section .favorite-coffee .coffee-scroll .arrow-left, section .favorite-coffee .coffee-scroll .arrow-right {
    display: none;
  }
  section .favorite-coffee .coffee-scroll .drinks {
    max-width: 348px;
    position: relative;
    left: -12em;
  }
  section .favorite-coffee .coffee-scroll .drinks ul .drink-item img {
    width: 348px;
    height: 348px;
  }
  section .favorite-coffee .coffee-text {
    width: 348px;
    left: -0.4em;
  }
  section .favorite-coffee .coffee-text .text {
    max-width: 348px;
  }
  section .favorite-coffee.menu {
    top: -1.8em;
  }
  section .favorite-coffee.menu .sub-heading-menu {
    max-width: 348px;
    font-size: 32px;
    height: 120px;
  }
  section .favorite-coffee.menu .btn-menu {
    left: 0;
  }
  section .favorite-coffee.menu .menu-container {
    max-width: 310px;
    left: 1em;
  }
  section .favorite-coffee.menu .menu-container .coffee-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  section .refresh {
    left: 11%;
    margin-bottom: 2em;
    margin-top: 1em;
  }
  section .about {
    margin: 100px 1em 0 1em;
  }
  section .about .sub-heading {
    top: 1em;
  }
  section .about .img-grid .col-1 .item1 {
    position: relative;
    width: 25%;
    left: 0;
  }
  section .about .img-grid .col-2 .item2 {
    position: relative;
    width: 25%;
    left: 0;
  }
  section .mobile-app {
    margin: 0 1em;
  }
  section .mobile-app .mobile-text .btn-app {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section .mobile-app .mobile-text .btn-app .btn-apps {
    background: var(--light-font-color);
  }
  section .mobile-app .mobile-img {
    left: 0;
    width: 10%;
    top: 7em;
  }
  section .mobile-app .mobile-img img {
    width: 348px;
    height: 348px;
  }
  footer {
    margin: 0 1em;
    top: 18.9em;
  }
  footer .footer-grid {
    padding: 60px 16px;
    width: 348px;
  }
  footer .footer-grid .footer-icons .sub-heading {
    max-width: 316px;
    font-size: 32px;
  }
  footer .footer-grid .footer-contacts {
    top: -1.2em;
  }
}